.container {
  margin: 9.6rem auto 0;
}

.header {
  display: flex;
  flex: 0 0 8.8rem;
  justify-content: space-between;
  align-items: center;

  width: 73rem;
  height: 8.8rem;
  margin: 0 auto;
  padding: 3.2rem;
  border-radius: 9px;

  background: hsl(0, 0%, 100%);
  /* DARK MODE */
  background: hsl(233, 31%, 17%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.status_group {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.status_text {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  color: hsl(232, 23%, 61%);
  /* DARK MODE */
  color: hsl(231, 73%, 93%);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.btn {
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 9999px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;

  color: hsl(0, 0%, 100%);
  letter-spacing: -0.25px;

  cursor: pointer;
}

.btnEdit {
  background: hsl(240, 27%, 98%);
  /* DARK MODE */
  background: hsl(233, 30%, 21%);

  color: hsl(231, 37%, 63%);
  /* DARK MODE */
  color: hsl(231, 73%, 93%);

  transition: all 0.3s;
}

.btnEdit:hover {
  background: hsl(231, 73%, 93%);
  /* DARK MODE */
  background: hsl(0, 0%, 100%);

  color: hsl(231, 37%, 63%);
}

.btnDelete {
  background: hsl(0, 80%, 63%);

  transition: all 0.3s;
}

.btnDelete:hover {
  background: hsl(0, 100%, 80%);
}

.btnPaid {
  background: hsl(252, 94%, 67%);

  transition: all 0.3s;
}

.btnPaid:hover {
  background: hsl(252, 100%, 73%);
}
