:root {
  --invoicestatus-color: hsl(231, 20%, 27%);
  --invoicestatus-background: hsla(231, 20%, 27%, 0.06);
}

[data-theme='dark'] {
  --invoicestatus-color: hsl(231, 73%, 93%);
  --invoicestatus-background: hsla(231, 73%, 93%, 0.06);
}

.status {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
  align-items: center;

  width: 10.4rem;
  height: 4rem;
  border-radius: 6px;
}

.status--orange {
  background: hsla(34, 100%, 50%, 0.06);
}
.status--green {
  background: hsla(160, 67%, 52%, 0.06);
}
.status--purple {
  background: var(--invoicestatus-background);
}

.listStyle {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.listStyle--orange {
  background: hsl(34, 100%, 50%);
}
.listStyle--green {
  background: hsl(160, 67%, 52%);
}
.listStyle--purple {
  background: var(--invoicestatus-color);
}

.text {
  font-weight: 700;
  font-size: 1.2rem;

  letter-spacing: -0.25px;
}

.text--orange {
  color: hsl(34, 100%, 50%);
}
.text--green {
  color: hsl(160, 67%, 52%);
}
.text--purple {
  color: var(--invoicestatus-color);
}
