:root {
  --notfound-color: hsl(228, 29%, 7%);
}

[data-theme='dark'] {
  --notfound-color: hsl(0, 0%, 100%);
}

.container {
  text-align: center;
}

.heading {
  margin: 9.6rem 0 1.6rem;

  font-size: 3.6rem;

  color: var(--notfound-color);
}

.text {
  margin-bottom: 2.4rem;

  font-size: 1.6rem;

  color: var(--notfound-color);
}

.link:link,
.link:visited {
  font-size: 1.6rem;

  color: var(--notfound-color);
  text-decoration: none;
}

.link:hover,
.link:active {
  color: hsl(252, 100%, 73%);
}
