:root {
  --invoicebody-bg: hsl(0, 0%, 100%);
  --invoicebody-text-clr: hsl(231, 37%, 63%);
  --invoicebody-text-clr-secondary: hsl(228, 29%, 7%);
  --invoicebody-table-bg: hsl(240, 27%, 98%);
  --invoicebody-tfoot-bg: hsl(231, 20%, 27%);
}

[data-theme="dark"] {
  --invoicebody-bg: hsl(233, 31%, 17%);
  --invoicebody-text-clr: hsl(231, 72%, 93%);
  --invoicebody-text-clr-secondary: hsl(0, 0%, 100%);
  --invoicebody-table-bg: hsl(233, 30%, 21%);
  --invoicebody-tfoot-bg: hsl(228, 29%, 7%);
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 3.6rem;
  max-width: 73rem;
  margin: 2rem auto;
  padding: 4.8rem;
  border-radius: 9px;
  background: var(--invoicebody-bg);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  color: var(--invoicebody-text-clr);
}

.id {
  margin-bottom: 1.2rem;
  font-size: 1.6rem;
  color: var(--invoicebody-text-clr-secondary);
  letter-spacing: -0.8px;
  line-height: 2.4rem;
}

.id span {
  color: hsl(231, 20%, 61%);
}

.description {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.senderAddress {
  grid-column: 3 / -1;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: -0.25px;
}

.dates {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dateItem {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.dateHeading {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.date {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--invoicebody-text-clr-secondary);
  letter-spacing: -0.25px;
  line-height: 2rem;
}

.clientInfo {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.clientName {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--invoicebody-text-clr-secondary);
}

.clientEmail {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
}

.clientEmail a {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--invoicebody-text-clr-secondary);
  letter-spacing: -0.25px;
  line-height: 2rem;
  text-decoration: none;
}

/* ITEMS TABLE */
.wrapper {
  border-radius: 9px;
  overflow: hidden;
  grid-column: 1 / -1;
  margin: auto 0;
}

table {
  width: 100%;
  background: var(--invoicebody-table-bg);
  border-collapse: collapse;
}

tr {
  height: 6rem;
}

th {
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: -0.25px;
}

td {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--invoicebody-text-clr-secondary);
}

.qty,
.price {
  color: var(--invoicebody-text-clr);
}

/* invoice total */
.total {
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  color: hsl(0, 0%, 100%);
  text-align: right;
  padding-right: 3.2rem;
}

.footer {
  height: 8rem;
  background: var(--invoicebody-tfoot-bg);
  color: hsl(0, 0%, 100%);
}

.footer td:first-of-type {
  color: hsl(0, 0%, 100%);
}

.col-1 {
  padding-left: 3.2rem;
  text-align: left;
}

.col-2,
.col-3 {
  text-align: center;
}

.col-4 {
  padding-right: 3.2rem;
  text-align: right;
}

/* ****************************** */
@media (max-width: 850px) {
  .gridContainer {
    width: 68.8rem;
  }
}

@media (max-width: 640px) {
  .gridContainer {
    grid-template-columns: repeat(2, 1fr);
    width: 32.7rem;
    margin: 1.6rem auto;
    padding: 2.4rem;
  }

  .senderAddress,
  .dates {
    grid-column: 1 / span 1;
    align-items: flex-start;
  }

  .id {
    font-size: 1.2rem;
    letter-spacing: -0.25px;
  }

  .total {
    font-size: 2rem;
  }

  /* Table */
  .col-1 {
    width: 50%;
    padding-left: 2rem;
  }
  .col-2,
  .col-3 {
    display: none;
  }
  .col-4 {
    padding-right: 2rem;
    text-align: right;
  }
}
