:root {
  --invoiceheader-bg: hsl(0, 0%, 100%);
  --invoiceheader-text-clr: hsl(232, 23%, 61%);
  --invoiceheader-btn-bg: hsl(240, 27%, 98%);
  --invoiceheader-btn-clr: hsl(231, 37%, 63%);
  --invoiceheader-btn-clr-secondary: hsl(231, 73%, 93%);
  --invoiceheader-link-clr: hsl(228, 29%, 7%);
  --invoiceheader-link-clr-secondary: hsl(231, 37%, 63%);
}

[data-theme="dark"] {
  --invoiceheader-bg: hsl(233, 31%, 17%);
  --invoiceheader-text-clr: hsl(231, 73%, 93%);
  --invoiceheader-btn-bg: hsl(233, 30%, 21%);
  --invoiceheader-btn-clr: hsl(231, 73%, 93%);
  --invoiceheader-btn-clr-secondary: hsl(0, 0%, 100%);
  --invoiceheader-link-clr: hsl(0, 0%, 100%);
  --invoiceheader-link-clr-secondary: hsl(231, 20%, 61%);
}

.header {
  position: relative;
  display: flex;
  flex: 0 0 9.1rem;
  justify-content: space-between;
  align-items: center;
  max-width: 73rem;
  height: 9.1rem;
  margin: 9.6rem auto 0 auto;
  padding: 3.2rem;
  border-radius: 9px;
  background: var(--invoiceheader-bg);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.link:link,
.link:visited {
  display: inline-block;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--invoiceheader-link-clr);
  letter-spacing: -0.25px;
  text-decoration: none;
  position: absolute;
  top: -32px;
  left: 0;
}

.link:hover,
.link:active {
  color: var(--invoiceheader-link-clr-secondary);
}

.link:focus-visible {
  outline: none;

  box-shadow: 0 0 0 8px hsla(252, 94%, 67%, 0.5);
}

.link span {
  margin-left: 16px;
}

.statusGroup {
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.statusText {
  font-weight: 500;
  font-size: 1.2rem;
  letter-spacing: -0.25px;
  color: var(--invoiceheader-text-clr);
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.btn {
  display: inline-block;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 9999px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(0, 0%, 100%);
  letter-spacing: -0.25px;
  cursor: pointer;
}

.btn:focus-visible {
  outline: none;
  box-shadow: 0 0 0 8px hsla(252, 94%, 67%, 0.5);
}

.btnEdit {
  background: var(--invoiceheader-btn-bg);
  color: var(--invoiceheader-btn-clr);
  transition: all 0.3s;
}

.btnEdit:hover {
  background: var(--invoiceheader-btn-clr-secondary);
  color: hsl(231, 37%, 63%);
}

.btnDelete {
  background: hsl(0, 80%, 63%);
  transition: all 0.3s;
}

.btnDelete:hover {
  background: hsl(0, 100%, 80%);
}

.btnPaid {
  background: hsl(252, 94%, 67%);
  transition: all 0.3s;
}

.btnPaid:hover {
  background: hsl(252, 100%, 73%);
}

/* ****************************** */
@media (max-width: 850px) {
  .header {
    max-width: 68.8rem;
  }
}

@media (max-width: 640px) {
  .header {
    width: 32.7rem;
    margin-top: 8rem;
  }

  .buttons {
    display: none;
  }

  .statusGroup {
    gap: 0px;
    justify-content: space-between;
    width: 100%;
  }
}
