:root {
  --formHeading-color: hsl(228, 29%, 7%);
  --formLabel-color: hsl(231, 37%, 63%);
  --formControl-border: 1px solid hsl(231, 73%, 93%);
  --formControl-background: hsl(0, 0%, 100%);
  --formControl-color: hsl(228, 29%, 7%);
  --form-btn-background: hsl(228, 71%, 99%);
  --form-btn-color: hsl(231, 37%, 63%);
}

[data-theme='dark'] {
  --formHeading-color: hsl(0, 0%, 100%);
  --formLabel-color: hsl(231, 73%, 93%);
  --formControl-border: 1px solid hsl(233, 30%, 21%);
  --formControl-background: hsl(233, 31%, 17%);
  --formControl-color: hsl(0, 0%, 100%);
  --form-btn-background: hsl(233, 31%, 17%);
  --form-btn-color: hsl(231, 73%, 93%);
}

.formWrapper {
  width: 50.4rem;
  margin: 4.8rem auto 0;
}

.formHeading {
  margin-bottom: 4.8rem;

  font-size: 2.4rem;

  color: var(--formHeading-color);
  letter-spacing: -0.25px;
  line-height: 3.2rem;
}

.formHeading span {
  font-weight: 700;

  color: hsl(231, 20%, 61%);
}

.fieldsetWrapper {
  margin-bottom: 2.4rem;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 2.4rem;

  font-weight: 700;
  font-size: 1.2rem;

  color: hsl(252, 94%, 67%);
  letter-spacing: -0.25px;
}

.formGroup {
  margin-bottom: 2.4rem;
}

.formGroup label {
  display: inline-block;

  width: 100%;
  margin-bottom: 1.2rem;

  font-weight: 500;
  font-size: 1.2rem;

  color: var(--formLabel-color);
  letter-spacing: -0.25px;
}

.formControl {
  display: block;

  height: 47px;
  width: 100%;
  padding: 1.5rem;
  border: var(--formControl-border);
  border-radius: 4px;
  background: var(--formControl-background);

  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;

  color: var(--formControl-color);
  letter-spacing: -0.25px;
}

.formControl.invalid {
  border-color: hsl(0, 80%, 63%);
}

.formControl:focus {
  /* outline: 1px solid hsl(252, 100%, 73%); */
  outline: none;
}

.formRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-5 {
  grid-template-columns: 1fr 50px 100px 100px 15px;
}

.itemsHeading {
  font-weight: 700;
  font-size: 1.8rem;

  color: hsl(225, 14%, 53%);
  letter-spacing: -0.25px;
  line-height: 32px;
}

.btn {
  width: 100%;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 9999px;

  background: var(--form-btn-background);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);

  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;

  color: var(--form-btn-color);
  letter-spacing: -0.25px;

  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: hsl(231, 73%, 93%);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  margin-bottom: 2.4rem;
}

small {
  font-weight: 600;
  font-size: 1rem;

  color: hsl(0, 80%, 63%);
  letter-spacing: -0.25px;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.discard {
  width: auto;

  margin-right: auto;

  background: hsl(228, 71%, 99%);

  color: hsl(231, 37%, 63%);
}

.discard:hover {
  background: hsl(231, 73%, 93%);
}

.draft {
  width: auto;

  background: hsl(231, 20%, 27%);

  color: hsl(231, 20%, 61%);
}

.draft:hover {
  background: hsl(228, 29%, 7%);

  color: hsl(231, 20%, 61%);
}

.send {
  width: auto;

  background: hsl(252, 94%, 67%);

  color: hsl(0, 0%, 100%);
}

.send:hover {
  background: hsl(252, 100%, 73%);
}

.btnDel {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  outline: none;

  background: none;

  cursor: pointer;
}

.btnDel:hover path {
  fill: hsl(0, 80%, 63%);
}
