:root {
  --form-text-clr: hsl(228, 29%, 7%);
  --form-label-clr: hsl(231, 37%, 63%);
  --form-input-border: 1px solid hsl(231, 73%, 93%);
  --form-input-bg: hsl(0, 0%, 100%);
  --form-btn-bg: hsl(228, 71%, 99%);
  --form-btn-clr: hsl(231, 37%, 63%);
}

[data-theme="dark"] {
  --form-text-clr: hsl(0, 0%, 100%);
  --form-label-clr: hsl(231, 73%, 93%);
  --form-input-border: 1px solid hsl(233, 30%, 21%);
  --form-input-bg: hsl(233, 31%, 17%);
  --form-btn-bg: hsl(233, 31%, 17%);
  --form-btn-clr: hsl(231, 37%, 63%);
}

.formWrapper {
  width: 60.7rem;
  margin: 4.8rem auto 0 auto;
  padding-left: 10.3rem;
  padding-bottom: 2.4rem;
}

.formHeading {
  margin-bottom: 4.8rem;
  font-size: 2.4rem;
  color: var(--form-text-clr);
  letter-spacing: -0.25px;
  line-height: 3.2rem;
}

.formHeading span {
  font-weight: 700;
  color: hsl(231, 20%, 61%);
}

.fieldsetWrapper {
  margin-bottom: 2.4rem;
}

fieldset {
  border: none;
}

legend {
  margin-bottom: 2.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  color: hsl(252, 94%, 67%);
  letter-spacing: -0.25px;
}

.formGroup {
  margin-bottom: 2.4rem;
}

.formGroup label {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--form-label-clr);
  letter-spacing: -0.25px;
}

.formControl {
  display: block;
  height: 47px;
  width: 100%;
  padding: 1.5rem;
  border: var(--form-input-border);
  border-radius: 4px;
  background: var(--form-input-bg);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--form-text-clr);
  letter-spacing: -0.25px;
}

.formControl.invalid {
  border-color: hsl(0, 80%, 63%);
}

.formControl:focus {
  /* outline: 1px solid hsl(252, 100%, 73%); */
  outline: none;
}

.formRow {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-5 {
  grid-template-columns: 1fr 50px 100px 100px 15px;
}

.itemsHeading {
  font-weight: 700;
  font-size: 1.8rem;
  color: hsl(225, 14%, 53%);
  letter-spacing: -0.25px;
  line-height: 32px;
}

.btn {
  display: inline-block;
  width: 100%;
  padding: 1.6rem 2.4rem;
  border: none;
  border-radius: 9999px;
  background: var(--form-btn-bg);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--form-btn-clr);
  letter-spacing: -0.25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: hsl(231, 73%, 93%);
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 2.4rem;
}

small {
  font-weight: 600;
  font-size: 1rem;
  color: hsl(0, 80%, 63%);
  letter-spacing: -0.25px;
}

.buttons {
  display: flex;
  gap: 1.2rem;
}

.discard {
  width: auto;
  margin-right: auto;
  background: hsl(228, 71%, 99%);
  color: hsl(231, 37%, 63%);
}

.discard:hover {
  background: hsl(231, 73%, 93%);
}

.draft {
  width: auto;
  background: hsl(231, 20%, 27%);
  color: hsl(231, 20%, 61%);
}

.draft:hover {
  background: hsl(228, 29%, 7%);
  color: hsl(231, 20%, 61%);
}

.send {
  width: auto;
  background: hsl(252, 94%, 67%);
  color: hsl(0, 0%, 100%);
}

.send:hover {
  background: hsl(252, 100%, 73%);
}

.btnDel {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btnDel:hover path {
  fill: hsl(0, 80%, 63%);
}

/* ****************************** */
@media (max-width: 850px) {
  .formWrapper {
    width: 50.4rem;
    margin: 12.8rem auto 2.4rem;
    padding-left: 0;
  }
}

@media (max-width: 640px) {
  .formWrapper {
    width: 375px;
    padding: 2rem;
  }

  .formRow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }

  .col-5 {
    display: flex;
    flex-wrap: wrap;
  }

  .col-5 .formGroup:nth-child(1) {
    /* item name */
    width: 327px;
  }
  .col-5 .formGroup:nth-child(2) {
    /* item quantity */
    width: 65px;
  }
  .col-5 .formGroup:nth-child(3) {
    /* item price */
    width: 100px;
  }
  .col-5 .formGroup:nth-child(4) {
    /* item total */
    width: 100px;
  }
  .col-5 .formGroup:nth-child(5) {
    /* item delete */
    width: 15px;
  }

  .buttons {
    gap: 0px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .discard,
  .draft,
  .send {
    margin-right: 0px;
    padding: 1.8rem;
  }
}
