:root {
  --invoice-background: hsl(0, 0%, 100%);
  --invoice-color: hsl(228, 29%, 7%);
  --invoice-color-secondary: hsl(231, 37%, 63%);
}

[data-theme='dark'] {
  --invoice-background: hsl(233, 31%, 17%);
  --invoice-color: hsl(0, 0%, 100%);
  --invoice-color-secondary: hsl(231, 73%, 93%);
}

.invoice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  height: 7.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 6px;

  background: var(--invoice-background);

  text-decoration: none;
}

.invoice:hover,
.invoice:active,
.invoice:focus {
  outline: none;
  border-radius: 6px;

  box-shadow: 0 0 0 4px hsla(252, 94%, 67%, 0.5);
}

.id {
  font-size: 1.2rem;
  font-weight: 700;

  color: var(--invoice-color);
}

.id span {
  font-size: 1.2rem;
  font-weight: 700;

  color: hsl(231, 37%, 63%);
}

.paymentDue {
  font-weight: 500;
  font-size: 1.2rem;

  color: var(--invoice-color-secondary);
  letter-spacing: -0.25px;
}

.clientName {
  font-weight: 500;
  font-size: 1.2rem;

  color: var(--invoice-color-secondary);
  letter-spacing: -0.25px;
}

.total {
  font-weight: 700;
  font-size: 1.6rem;

  color: var(--invoice-color);
  letter-spacing: -0.8px;
}

.container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
