.invoices_list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;

  width: 73rem;
  margin: 6.4rem auto 0;
}

/* IF NO INVOICES */
.container {
  width: 24.2rem;
  margin: 9.6rem auto 0;

  text-align: center;
}

.illustration {
  margin-bottom: 4.8rem;
}

.text h2 {
  margin-bottom: 2.4rem;

  font-size: 2rem;

  color: hsl(228, 29%, 7%);
  /* DARK MODE */
  color: hsl(0, 0%, 100%);
  letter-spacing: -0.5px;
}

.text h3 {
  font-weight: 500;
  font-size: 1.2rem;

  color: hsl(231, 20%, 61%);
  /* DARK MODE */
  color: hsl(231, 73%, 93%);
}
