:root {
  --invoice-background: hsl(0, 0%, 100%);
  --invoice-color: hsl(228, 29%, 7%);
  --invoice-color-secondary: hsl(231, 37%, 63%);
}

[data-theme="dark"] {
  --invoice-background: hsl(233, 31%, 17%);
  --invoice-color: hsl(0, 0%, 100%);
  --invoice-color-secondary: hsl(231, 73%, 93%);
}

.invoice {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;

  height: 7.2rem;
  padding: 1.6rem 2.4rem;
  border-radius: 6px;

  background: var(--invoice-background);

  text-decoration: none;
}

.invoice:hover,
.invoice:active,
.invoice:focus {
  outline: none;
  border-radius: 6px;

  box-shadow: 0 0 0 4px hsla(252, 94%, 67%, 0.5);
}

.id {
  font-size: 1.2rem;
  font-weight: 700;

  color: var(--invoice-color);
}

.id span {
  font-size: 1.2rem;
  font-weight: 700;

  color: hsl(231, 37%, 63%);
}

.paymentDue {
  font-weight: 500;
  font-size: 1.2rem;

  color: var(--invoice-color-secondary);
  letter-spacing: -0.25px;
}

.clientName {
  font-weight: 500;
  font-size: 1.2rem;

  color: var(--invoice-color-secondary);
  letter-spacing: -0.25px;
}

.total {
  justify-self: right;
  margin-right: 28px;

  font-weight: 700;
  font-size: 1.6rem;

  color: var(--invoice-color);
  letter-spacing: -0.05em;
}

.container {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}

/* ****************************** */
@media (max-width: 850px) {
  .total {
    margin-right: 16px;
  }
}

/* prettier-ignore */
@media (max-width: 640px) {
  .id { grid-area: uid }
  .paymentDue { grid-area: paymentDue }
  .clientName { grid-area: clientName }
  .total { grid-area: total }
  .container { grid-area: status }

  .invoice {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content 1fr;
    grid-template-areas:
      'uid clientName'
      'paymentDue paymentDue'
      'total status'
    ;

    width: 32.7rem;
    height: 13.4rem;
  }

  .rarr {
    display: none;
  }
}
