:root {
  --layout-background: hsl(240, 20%, 98%);
  --Form-background: hsl(0, 0%, 100%);
}

[data-theme='dark'] {
  --layout-background: hsl(233, 30%, 11%);
  --Form-background: hsl(233, 30%, 11%);
}

.layout {
  display: flex;

  height: 100vh;

  background: var(--layout-background);
}

.aside {
  z-index: 50;

  flex: 0 0 10.3rem;
}

.main {
  flex: 1;

  background: var(--layout-background);

  overflow-y: scroll;
}

/* FORM LAYOUT BACKGROUND */
.bgColor {
  background: var(--Form-background);
}

/* ****************************** */
@media (max-width: 850px) {
  .layout {
    flex-direction: column;
  }

  .aside {
    flex: 0 0 8rem;
  }
}
