:root {
  --layout-bg: hsl(240, 20%, 98%);
  --form-bg: hsl(0, 0%, 100%);
}

[data-theme="dark"] {
  --layout-bg: hsl(233, 30%, 11%);
  --form-bg: hsl(233, 30%, 11%);
}

.layout {
  display: flex;
  height: 100vh;
  background: var(--layout-bg);
}

.aside {
  z-index: 50;
  flex: 0 0 10.3rem;
}

.main {
  flex: 1;
  background: var(--layout-bg);
  overflow-y: scroll;
}

/* Form layout bg */
.bgColor {
  background: var(--form-bg);
}

/* ****************************** */
@media (max-width: 850px) {
  .layout {
    flex-direction: column;
  }

  .aside {
    flex: 0 0 8rem;
  }
}
