:root {
  --layout-background: hsl(240, 20%, 98%);
}

[data-theme='dark'] {
  --layout-background: hsl(233, 30%, 11%);
}

.layout {
  display: flex;

  height: 100vh;

  background: var(--layout-background);
}

.aside {
  flex: 0 0 10.3rem;
}

.main {
  flex: 1;
  background: var(--layout-background);

  overflow-y: scroll;
}
