:root {
  --mainheader-color: hsl(228, 29%, 7%);
  --mainheader-color-secondary: hsl(231, 20%, 61%);
}

[data-theme='dark'] {
  --mainheader-color: hsl(0, 0%, 100%);
  --mainheader-color-secondary: hsl(231, 73%, 93%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 73rem;
  height: 6rem;
  margin: 7.2rem auto 0;
}

.title {
  font-size: 3.2rem;

  color: var(--mainheader-color);
  letter-spacing: -1px;
  line-height: 3.6rem;
}

.text {
  margin-top: 0.8rem;

  font-weight: 500;
  font-size: 1.2rem;

  color: var(--mainheader-color-secondary);
  letter-spacing: -0.25px;
}

.wrapper {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.newInvoice {
  display: flex;
  gap: 0.8rem;
  align-items: center;

  padding: 0.8rem 2.4rem 0.8rem 0.8rem;
  border: none;
  border-radius: 9999px;

  background: hsl(252, 94%, 67%);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);

  font-family: inherit;
  font-weight: 700;
  font-size: 1.2rem;

  color: hsl(0, 0%, 100%);
  letter-spacing: -0.25px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.newInvoice:focus-visible {
  outline: none;

  box-shadow: 0 0 0 8px hsla(252, 94%, 67%, 0.5);
}

.newInvoice:hover {
  background: hsl(252, 100%, 73%);
}

.newInvoice:active {
  transform: translateY(1px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.newInvoice svg {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;

  background: hsl(0, 0%, 100%);
}

/* ****************************** */
@media (max-width: 850px) {
  .header {
    max-width: 67.2rem;
    margin: 7.2rem auto 0;
  }
}

@media (max-width: 640px) {
  .header {
    width: 32.7rem;
  }

  .title {
    font-size: 2rem;
  }

  .wrapper {
    gap: 0;
  }

  .newInvoice {
    padding: 0.8rem 1.2rem 0.8rem 0.8rem;
  }
}
