/*
--- Typegraphy

-- Font sizes
12px, 14px, 16px, 18px, 20px, 24px, 30px, 36px, 48px, 60px, 72px, 96px, 128px

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
bold: 700

-- Line heights
1.5px

-- Letter spacing
-0.25px
-0.50px
-1px

--- Colors
hsl(252, 94%, 67%)
hsl(252, 100%, 73%)

hsl(233, 31%, 17%)
hsl(233, 30%, 21%)
hsl(233, 30%, 11%)

hsl(232, 20%, 36%)

hsl(231, 20%, 27%)
hsl(228, 29%, 7%)

hsl(0, 0%, 100%)
hsl(240, 27%, 98%)
hsl(231, 73%, 93%)
hsl(231, 20%, 61%)
hsl(231, 37%, 63%)

hsl(0, 100%, 80%)
hsl(0, 80%, 63%)

--- Shadows
rg: box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
md: box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
lg: box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);

--- Border-radius
sm: border-radius: 6px;
md: border-radius: 9px;
2xl: border-radius: 24px;
full: border-radius: 50% / border-radius: 9999px;

--- Whitespace
- Spacing system

2px, 4px, 6px, 8px, 10px, 12px, 14px, 16px, 20px, 24px, 28px, 32px, 36px, 40px, 44px, 48px, 56px, 64px, 80px, 96px, 112px, 128px, 144px, 160px, 176px, 192px, 208px, 224px, 240px, 256px, 288px, 320px, 384px

*/
:root {
  --scrollbar-background: hsl(231, 73%, 93%);
}

[data-theme='dark'] {
  --scrollbar-background: hsl(233, 30%, 21%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CUSTOM SCROLLBAR STYLES */
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  margin-block: 4.8rem;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vw;

  background: var(--scrollbar-background);
}
